@page "/InitialSetup/StorageSources"
@inject NavigationManager NavigationManager

@attribute [Authorize]

<form class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default btn-secondary" @onclick="Previous">Previous</button>
            <button class="btn btn-default btn-primary" @onclick="Next">Next</button>
        </div>
    </div>
</form>

@code
{
    [CascadingParameter(Name = "User")] public HypomosUser User { get; set; }
    [CascadingParameter(Name = "InitialSetupStateMachine")] public InitialSetupStateMachine InitialSetupStateMachine { get; set; }

    private void Next()
    {
        NavigationManager.NavigateTo(InitialSetupStateMachine.NavigationTarget);
    }

    private async Task Previous()
    {
        await InitialSetupStateMachine.Previous();
        NavigationManager.NavigateTo(InitialSetupStateMachine.NavigationTarget);
    }
}