@page "/debug"
@using Hypomos.Interfaces.Models
@using Orleans;
@using Microsoft.Extensions.Configuration
@using Orleans.Streams
@inject IClusterClient clusterClient
@inject IConfiguration config;

@attribute [Authorize]

<h1>Debugging stuff</h1>

<button class="btn btn-primary" @onclick="Scan">Scan</button>
<button class="btn btn-primary" @onclick="Organize">Organize</button>

<span>Currently processing: @processing</span>

@code {

    [CascadingParameter (Name = "User")] public HypomosUser User { get; set; }
    string processing = string.Empty;
    
    private async Task Scan()
    {
    }

    private async Task Organize()
    {
        var configurationSection = config.GetSection("Storage:Configuration");
        var mcs = configurationSection.GetChildren().Select(bc =>
        {
            var mc = new MinioConfiguration();
            bc.Bind(mc);
            return mc;
        }).ToList();

        var streamProvider = clusterClient.GetStreamProvider(Constants.SmsProvider);

        foreach (var mc in mcs)
        {
            var providerKey = Guid.NewGuid();
            var grain = clusterClient.GetGrain<IMinioStorageProvider>(providerKey);
            await grain.SetConfiguration(mc);

            var scanEvents = streamProvider.GetStream<ScanEventData>(providerKey, User.Username);
            await scanEvents.SubscribeAsync(ProcessScanEvent);

            Console.WriteLine($"Bucket: {mc.BucketName} in grain: {grain.GetGrainIdentity()}");

            await grain.Scan(User.Username);
        }
    }

    private Task ProcessScanEvent(ScanEventData arg1, StreamSequenceToken arg2)
    {
        this.processing = arg1.ToString();

        return Task.CompletedTask;
    }
}
