@page "/debug"
@using Hypomos.Interfaces
@using global::Orleans
@using Microsoft.Extensions.Configuration
@inject IClusterClient clusterClient
@inject IConfiguration config;

<h1>Debugging stuff</h1>

<button class="btn btn-primary" @onclick="Scan">Scan</button>
<button class="btn btn-primary" @onclick="Organize">Organize</button>

@code {

    async Task Scan()
    {
        var configurationSection = config.GetSection("Storage:Configuration");
        
        var mcs = configurationSection.GetChildren().Select(bc =>
        {
            var mc = new MinioConfiguration();
            bc.Bind(mc);
            return mc;
        }).ToList();

        foreach (var mc in mcs)
        {
            var grain = clusterClient.GetGrain<IMinioStorageProvider>(Guid.NewGuid());
            await grain.SetConfiguration(mc);

            Console.WriteLine($"Bucket: {mc.BucketName} in grain: {grain.GetGrainIdentity()}");

            await grain.Scan();
        }
    }

    void Organize()
    {

    }
}
