@page "/debug"
@using System.Reactive.Linq
@using System.Reactive
@using System.Security.Claims
@using Hypomos.Interfaces.Models
@using Orleans;
@using Microsoft.Extensions.Configuration
@using Orleans.Streams
@inject IClusterClient clusterClient
@inject IConfiguration config;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h1>Debugging stuff</h1>

<button class="btn btn-primary" @onclick="Scan">Scan</button>
<button class="btn btn-primary" @onclick="Organize">Organize</button>

<span>Currently processing: @processing</span>

@code {

    string processing = string.Empty;
    
    private async Task Scan()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var uniqueUsername = state.User.FindFirst(claim => claim.Type == ClaimTypes.Name);

        var userGrain = clusterClient.GetGrain<IUserGrain>(uniqueUsername.Value);

        var isInitialized = await userGrain.IsInitialized();
        if (!isInitialized)
        {
            var emailClaim = state.User.FindFirst(claim => claim.Type == ClaimTypes.Email);
            var surnameClaim = state.User.FindFirst(claim => claim.Type == ClaimTypes.Surname);
            var givenNameClaim = state.User.FindFirst(claim => claim.Type == ClaimTypes.GivenName);

            await userGrain.Initialize(new UserInitializationContext
            {
                Username = state.User.Identity.Name,
                EmailAddress = emailClaim.Value,
                Surname = surnameClaim.Value,
                GivenName = givenNameClaim.Value
            });
        }
    }

    private async Task Organize()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var uniqueUsername = state.User.FindFirst(claim => claim.Type == ClaimTypes.Name);

        var configurationSection = config.GetSection("Storage:Configuration");
        var mcs = configurationSection.GetChildren().Select(bc =>
        {
            var mc = new MinioConfiguration();
            bc.Bind(mc);
            return mc;
        }).ToList();

        var streamProvider = clusterClient.GetStreamProvider(Constants.SmsProvider);

        foreach (var mc in mcs)
        {
            var providerKey = Guid.NewGuid();
            var grain = clusterClient.GetGrain<IMinioStorageProvider>(providerKey);
            await grain.SetConfiguration(mc);

            var scanEvents = streamProvider.GetStream<ScanEventData>(providerKey, uniqueUsername.Value);
            await scanEvents.SubscribeAsync(ProcessScanEvent);

            Console.WriteLine($"Bucket: {mc.BucketName} in grain: {grain.GetGrainIdentity()}");

            await grain.Scan(uniqueUsername.Value);
        }
    }

    private Task ProcessScanEvent(ScanEventData arg1, StreamSequenceToken arg2)
    {
        this.processing = arg1.ToString();

        return Task.CompletedTask;
    }

}
