@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

.main-content-background {
    background-image: linear-gradient(135deg, gray, darkgray 40%, gray);
}

/* width */
.dark-scrollbar::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.dark-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-800;    
}

/* Handle */
.dark-scrollbar::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0,100%,100%,0.6);
    background-clip: padding-box;
}

body {
    @apply m-0;
}

.svg-defaults {
    @apply h-6 w-6 fill-current;
}

.selected {
    background-color: hsla(0,0%,100%,.07);
    box-shadow: inset 4px 0 0 0 #e5a00d;
}